*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
/*
处理登入的css
 */
body{
	overflow: scroll;
}
.black_overlay{  
	display: none;  
	position: absolute;  
	  
	left: 0%;  
	width: 100%;  
	height: 100%;  
	background-color: black;  
	z-index:1001;  
	-moz-opacity: 0.8;  
	opacity:.80;  filter: 
	alpha(opacity=80);  
}  
	.white_content {  
	display: none;  
	position: absolute;  
	left: 35%; 
	width: 30%;  
	height: 42%;  
	padding: 16px;  
	border: 16px solid orange;  
	background-color: white;  
	z-index:1002;  
	overflow: auto;
	font-size: 33px;  
}
center{
	margin-top:50px;
}
#light input{
	height: 40px;
	vertical-align: middle;
	width: 270px;
	font-size: 27px
} 
#light p{
	margin-bottom: 15px;
	font-size: 33px;
}

#sbtn{
	width: 90px;
	height: 55px;
	background: green;
	color: white;
	font-size: 27px;
	border-radius:5px
}

#all{
	width: 1200px;
	margin: auto;
}
#headinner{
	width: 1200px;
	height: 50px;
	margin:auto;
}
.header{
	z-index:1000;
	position: fixed;
	height: 55px;
	width: 100%;
	top:0;
	background-color: #ccc;
	/*background: url(imgs/10.jpg);*/
	border: 0.5px solid #000;
	filter:alpha(opacity=00); 
	-moz-opacity:0; 
  	opacity:0;
}
.headerSelect{
	display:none;
	height: 55px;
 	width: 300px;
 	margin:0 auto;
	line-height: 50px;
	text-align: center;
	float: right;
}
.headerSelect span{
	height: 55px;
	line-height: 55px;
	text-align: center;
	font-size: 18px;
	color: white;
}
.headerOver{
	position: fixed;
	top:0;
  	width:100%;
	height: 55px;
	background: #333333;
	border: 1px solid #fff;
  	filter:alpha(opacity=100); 
  	-moz-opacity:1; 
  	opacity:1;
  	z-index:1000;
  	border: none;
  	display: block;
}
#name{
	
	height: 55px;
	width: 470px;
	float: left;
}
#name span{
	height: 55px;
	line-height: 55px;
	font-size: 25px;
	color: white;
}
#more{
	height: 55px;
	width: 120px;
	float: left;
	margin-left: 55px;
	float: left;
	height: 55px;
	width: 70px;
	line-height: 55px;
	font-size: 25px;
	margin-left: 28px;
	color: white;
}
#more span{
	
}
#more:hover{
	color: orange;
}
#login{
	height: 55px;
	width: 120px;
	float: left;
	margin-left: 35px;
}
#login span{
	float: left;
	height: 55px;
	width: 70px;
	line-height: 55px;
	font-size: 25px;
	margin-left: 28px;
	color: white;
}
#login span:hover{
	color: orange;
}
#menu{
	margin-top: 10px;
	width: 1200px;
	height: 50px;
	background: #333333;
	float: left;
	display: none;
	z-index: 2000;
}
#menu ul li{
	float: left;
	width: 240px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	list-style: none;
	color: white;
	font-size: 18px;
	z-index: 200;
}
#menu ul li a{
	text-decoration: none;

}
#menu ul li:hover{
	background: orange;
}
#name ul li .list{
	height: 55px;
}
#myinput{
	height: 30px;
	
	width: 200px;
}
#search{
	float: right;
	width: 315px;
	height: 55px;
	color:white;
	line-height: 55px;
}
#searchbtn{
	width: 35px;
	height: 31px;
	vertical-align: middle;
}
#top{
	margin:0 auto;
	background: 
	background-position:center 0;
	background-repeat: no-repeat;
    background-size: cover;
	width:100%; 
	height:500px; 
	border:1px solid #666; 
	overflow:hidden;
	border: none;
}


#banner {
	position:relative;
	width: 1200px;
	height: 500px;
	margin:auto;
}

#banner_bg {
	position:absolute;
	 bottom:0;
	 background-color:#000;
	 height:30px;filter: Alpha(Opacity=30);
	 opacity:0.3;
	 z-index:1000;
	 cursor:pointer; 
	 width:120px; 
	}
#banner_info{
	position:absolute;
	bottom:0; 
	left:5px; 
	line-height:30px;
	color:#fff;
	z-index:1001
}
#banner_text {
	position:absolute;
	width:120px;
	z-index:1002;
	 right:3px;
	  bottom:3px;
	}
#banner ul {
	position:absolute;
	list-style-type:none;
	filter: Alpha(Opacity=75);
	opacity:0.75; 
	border:1px solid #fff;
	z-index:1000;
	margin:0; padding:0; 
	bottom:3px; 
	right:5px;
}
#banner ul li { 
	padding:0px 8px;
	float:left;
	display:block;
	color:#FFF;
	border:#fff 1px solid;
	background-color:#6f4f67;
	cursor:pointer}
#banner_list{
	width: 1200px;
	height: 500px;
	margin:auto;
}
#banner ul li.on{
	background-color:#900
}
#banner_list a{
	position:absolute;
	} 
#banner_list img {
	width:1200px;
	height: 500px;
}
#list{
	width: 202px;
	height: 45px;
}
#banner #list  li{
	width:50px;
	height: 45px;
	line-height: 45px;
	text-align: center;
}


#midlle {
	width: 1200px;
	height: 500px;
	/*background: black;*/
	margin:10px auto;
}
.midline{
	width: 1200px;
	height:300px;
	
	padding-bottom: 10px;
}
.showgraphic{
	width: 291px;
	height: 300px;
	margin-right:12px;
	background: url(../imgs/one.jpg);
	float: left;
	margin-bottom: 10px;
	overflow: hidden;
	position: relative;
}
.showglast{
	width: 291px;
	height: 300px;
	background: url(../imgs/two.png);
	float: left;
	overflow: hidden;
}
.showmessage{
	background: url(../imgs/one.jpg);
	/*ie执行的语句*/
	filter:alpha(opacity=60); 
	/*其他浏览器*/
	-moz-opacity:0.6; 
  	opacity:0.6;
	float: right;
	width: 200px;
	height: 100%;
	display: none;
}
.showmessage span{
	font-size: 20px;
	color: black;
	/*font-weight: bold;*/
}
#show1{
	background: url(../imgs/show1.png);
}
#show2{
	background: url(../imgs/show2.png);
}
#show3{
	background: url(../imgs/show3.jpg);
}
#show4{
	background: url(../imgs/show4.png);
}
#show5{
	background: url(../imgs/show5.png);
}
#show6{
	background: url(../imgs/show6.png);
}
#show7{
	background: url(../imgs/show7.png);
}
#show8{
	background: url(../imgs/show8.png);
}
#show9{
	background: url(../imgs/show9.png);
}
#show10{
	background: url(../imgs/show10.png);
}
#show11{
	background: url(../imgs/show11.png);
}
#show12{
	background: url(../imgs/show12.png);
}
#message{
	background: url(../imgs/message.jpg);
	float: left;
	width: 100%;
	height: 400px;
	margin-bottom: 10px;
}
h4 { line-height: 40px; 
	margin-bottom: 10px;
	 border-bottom: 1px solid #333;
	font-size: 20px;
	  }
#text{
	width: 1000px;
	/*float: left;*/
	margin-left: 100px;
	border: 1px #000 solid;
	height: 80px;
	overflow: auto; 
	font-size: 25px;
}
#box { 
	width: 1000px;
 	padding: 25px 10px 0; 
	border: 1px solid #ddd;
	padding: 25px 10px 0;
	margin-left: 100px; 
	margin-bottom: 10px;
	max-height: 200px;
	overflow-y:auto; 
	word-break: break-all;
	color: white;
	}
#message p{
	width: 450px;
	margin:auto;
}
#box p{
	margin-left: 10px;
	width: 100%; margin-bottom: 25px; line-height:24px;
}
#message span{
	font-size: 20px;
}
#topic{
	color: #F5C3A2;
}
#picleft{
	width: 800px;
	height: 40px;
	
	float: left;
	margin:5px 20px 0 100px;

}
#picleft span{
	font-size: 20px;
	color: white;
}
#btn { 
	margin-top: 5px;
	width: 180px;
	height: 40px; 
	float: left;
	font-size: 25px;
	border-radius:5px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	}
#bot{
	background: #333 none repeat scroll 0 0;
	width: 100%;
	height: 100px;
	clear: both;
}
#bot p{
	height: 30px;
	line-height: 30px;
	width: 100%;
	text-align: center;
}
#bot a{
	color: white;
	text-decoration: none;
}
#bot a:hover{
	color: orange;
}
